.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../assets/images/background.jpeg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.header-container{
  /* padding: 3rem; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.heading-primary{
color: #fff;
text-transform: uppercase;
backface-visibility: hidden;
margin-bottom: 6rem;

}
.heading-primary--main{
display: block;
font-size: 6rem;
font-weight: 700;
letter-spacing: 3.5rem;
animation-name: moveInLeft;
animation-duration: 3s;

/* animation-delay: 2s; 
animation-iteration-count: 3;
animation-timing-function: ease-in;
*/

}
.heading-primary--sub{
display: block;
font-size: 2rem;
font-weight: 400;
letter-spacing: 1.75rem;
animation-name: moveInRight;
animation-duration: 3s;


}
@keyframes moveInLeft {
0% {
  opacity: 0;
  transform: translateX(-10rem); }
80% {
  transform: translateX(1rem); }
100% {
  opacity: 1;
  transform: translate(0); } }

@keyframes moveInRight {
0% {
  opacity: 0;
  transform: translateX(10rem); }
80% {
  transform: translateX(-1rem); }
100% {
  opacity: 1;
  transform: translate(0); } }

@keyframes moveInBottom {
0% {
  opacity: 0;
  transform: translateY(3rem); }
100% {
  opacity: 1;
  transform: translate(0); } }



.heading-primary {
color: #fff;
text-transform: uppercase;
backface-visibility: hidden;
margin-bottom: 6rem; }

.heading-primary--main {
display: block;
font-size: 6rem;
font-weight: 700;
letter-spacing: 3.5rem;
animation-name: moveInLeft;
animation-duration: 3s;
/* animation-delay: 2s; 
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
  */ }

.heading-primary--sub {
display: block;
font-size: 2rem;
font-weight: 400;
letter-spacing: 1.75rem;
animation-name: moveInRight;
animation-duration: 3s; }


.meet-withTeam-container {
  background-color: #f7f7f7;
  height: 195vh;
  padding: 0 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* line-height: 1.7; */
  color: #777;
  box-sizing: border-box;
  margin-top: -10rem;
}
.row-teamate-container {
  /* padding-left: 10%; */
  padding: 20rem 9.5rem;
  
}
.teamate-image {
  height: 45vh;
  width: 75%;
  border-radius: 4px;
  transition: all .5s;
  backface-visibility: hidden;
}
.col1 {
  height: 65vh;
  margin-bottom: 3rem;
}

.story__caption{
    position: absolute;
    top: 74.5rem;
    left: 26.7%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: #777;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    align-items: center;  
    background-color: rgb(5, 46, 5);
    padding: 1.5rem 1rem ;
    font-size: 1rem;
    width: 23%;

   }

   .col1:hover .story__caption{
    opacity: 1;
    transform: translate(-50%, -50%); 
    /*what we have initially on story caption text-transform: translate(-50%, -50%)*/
   } 

   .story__caption--p2{
    position: absolute;
    top: 74.5rem;
    left: 65.5%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: #777;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    align-items: center;  
    background-color: rgb(5, 46, 5);
    padding: 1.5rem 1rem ;
    font-size: 1rem;
    width: 23%;

   }
   .col1:hover .story__caption--p2{
    opacity: 1;
    transform: translate(-50%, -50%);

   }
   .story__caption--p3{
    position: absolute;
    top: 102.9rem;
    left: 28.5%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: #777;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    align-items: center;  
    background-color: rgb(5, 46, 5);
    padding: 1.5rem 1rem ;
    font-size: 1rem;
    width: 22.9%;

   }
   .col1:hover .story__caption--p3{
    opacity: 1;
    transform: translate(-50%, -50%);

   }
   .story__caption--p4{
    position: absolute;
    top: 102.9rem;
    left: 68%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: #777;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    align-items: center;  
    background-color: rgb(5, 46, 5);
    padding: 1.5rem 1rem ;
    font-size: 1rem;
    width: 18%;

   }
   .col1:hover .story__caption--p4{
    opacity: 1;
    transform: translate(-50%, -50%);

   }

   
.btn-text:link,
:visited{
  color: #777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1rem;
  transition: all .2s;

}
.btn-text:hover{
  background-color: #fff;
  color: #777;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  padding: 4px;
  margin-top: 8px;

  

}
.btn-text:active{
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);

}

.heading-primary {
  color: #777;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}
@media (min-width: 320px) and (max-width: 740px) {
    .meet-withTeam-container {
        background-color: #f7f7f7;
        height: 300vh;
        padding: 0 3rem;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        line-height: 1.7;
        color: #777;
        box-sizing: border-box;
        
      }
      .heading-primary {
        color: #777;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "Lato", sans-serif;
      }


}
@media (min-width: 320px) and (max-width: 740px) {
  .meet-withTeam-container {
    height: 280vh;
    }

  
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }
    .heading-primary--main {
      display: block;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 3s;
    }
    .teamate-image {
      height: 25vh;
      width: 100%;
      border-radius: 4px;
      transition: all .5s;
      backface-visibility: hidden;
    }
    .col1 {
      height: 55vh;
      margin-bottom: 1rem;
    }
       
.btn-text:link,
:visited{
  font-size: 10px;
  transition: all .2s;

}
    .story__caption{
      position: absolute;
      top: 62rem;
      left: 50%;
      width: 32.5%;
      padding: 1rem 1rem ;
      font-size: 10px;
  
     }
     .story__caption--p2{
      position: absolute;
      top:83rem;
      left: 50%;
      width: 32.5%;
      font-size: 10px;
      padding: 0.5rem 1rem ;
     }
     .story__caption--p3{
      position: absolute;
      top: 104.9rem;
      left: 50%;
      width: 32.5%;
      font-size: 10px;
      padding: 1rem 1rem ;
     }
     .story__caption--p4{
      position: absolute;
      top: 126.5rem;
      left: 50%;
      width: 40%;
      width: 32.5%;
      font-size: 10px;
      padding: 1rem 1rem ;
     }
     .btn-text:hover{
      padding: 0;
    }

}


