@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200;1,300&display=swap');
.meet-contaniner-col{
    background-color: rgb(255, 255, 255);
    height: 50vh; 
    margin-bottom: 9px;
    align-items: center;
    margin-left: 70px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 0.5px rgba(128, 128, 128, 0.212) ;
    
}

.data-container p{
    width: 70%;

}
.meet-contaniner-col p{
    color: rgb(12, 12, 12);
    font-family: "Lato", sans-serif;
    margin-left: 28%;
    margin-top: 20px;
}
.data-container h1{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
.meet-contaniner-col h1{
font-size: 20px;
color: rgb(5, 5, 5);
font-family: "Lato", sans-serif;
margin-top: -210px;
margin-left: 180px;

}
@media only screen and (max-width: 600px){
    .meet-contaniner-col {
        overflow: hidden;
        align-items: center;
        margin-left: 30px;
       
    }
    .meet-contaniner-col p{
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        font-size: 9px;
        padding: 10px;
        



    }
    .meet-contaniner-col h1{
        margin-top: 20px;
        margin: 0 auto;
        font-size: 8px;
        padding: 0px 10px 0px 10px;
        margin-bottom: -10px;
    }

}


  

  